<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Skipper Portal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  </head>

  <body>

    <header class="navbar">
      <a href="/" class="navbar-logo">
      <%= image_tag "logo.png", alt: "Logo" %>
      </a>
      <button class="burger" id="burger" aria-label="Open menu">
        <span></span><span></span><span></span>
      </button>
        <div class="logout-container">
          <% if user_signed_in? %>
            <!-- Logout link -->
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'logout-button' %>

            <% end %>
          </div>


                <nav class="menu" id="menu">
        <button class="close" id="close" aria-label="Close menu">&times;</button>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/range">Range</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/dealers">Dealers</a></li>
          <li><a href="/contact">Contact</a></li>

        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
  const burger = document.getElementById("burger");
  const menu = document.getElementById("menu");
  const closeBtn = document.getElementById("close");

  burger.addEventListener("click", () => {
    menu.classList.add("open");
  });

  closeBtn.addEventListener("click", () => {
    menu.classList.remove("open");
  });

  // Optional: Close menu when clicking a link
  document.querySelectorAll(".menu a").forEach(link => {
    link.addEventListener("click", () => menu.classList.remove("open"));
  });
});

</script>
<style>
  .logout-container {
  display: flex;
  align-items: center;
}

.logout-link {
  text-decoration: none;
  padding: 10px;
}

.logout-link:hover {
  background-color: #444;
}
</style>
